$default-bg: white;
$default-text: black;

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: $default-bg;
  color: $default-text;
}
p{
  padding:0;
  margin:0;
}
h1 {
  font-size: 2em;
  margin: 0.5em 0 1em;
}
section{
  width: 1110px;
  margin:0 auto;
}
#app{
  width: 1110px;
}
#game {
  display: inline-block;
  width:768px;
  height:576px;
  border:solid 1px #000;
  vertical-align: top;
}
#chat {
    display:none;
    /*display: inline-block;*/
    width:300px;
    height:576px;
    border:solid 1px #000;
    vertical-align: top;

    h2 {
        background:#000;
        color: #fff;
        margin:0;
        padding:10px;
    }

    #content{
        background:#eee;
        height: 476px;
        padding:5px 0;
        overflow:auto;
    }

    #inputchat {
      display:block;
      width:290px;
      background:#fff;
      padding:5px;
      height:30px;
      border-top:solid 1px #000;
      border-left:0;
      border-right:0;
      border-bottom:0;
    }

    p{
        font-size:0.9em;
        margin:5px;
        padding:0 5px;
    }
    span{
        display:block;
    }
    .txt-Rouge{
        color:#E74C3C;
    }
    .txt-Bleu{
        color:#3498DB;
    }
}

#menu {
  position:relative;
  display:none;
  width:768px;
  border-right: solid 1px #000;
  border-bottom: solid 1px #000;
  border-left: solid 1px #000;
  background:#eee;
}
#infos {
  position: relative;
  width: 150px;
  height: 150px;
  margin:0 auto;
  text-align: center;
  color:#fff;

    #circle{
        position:absolute;
        border-radius: 50%;
        top:-30px;
        width: 150px;
        height: 120px;
        padding-top:30px;
        border:solid 1px #fff;

        #round {
            font-family: 'Oswald', sans-serif;
            font-weight: 700;
            font-size: 1.6em;
        }

        #gold {
            display:block;
            margin:0 auto;
            width: 50px;
            padding:10px 0 10px 15px;
            background:url('../images/gold.png') 5px center no-repeat;
        }
        #life {
            display:block;
            margin:0 auto;
            width: 50px;
            padding:0 0 0 15px;
            background:url('../images/heart.png') 5px center no-repeat;
        }
    }    
}

#shop{
    display:block;
    position: absolute;
    top: 0;

    h1{
      margin:0;
      padding:0;
    }

    ul {
        margin:0;
        padding:5px;
    }

    li {
        display:inline;
        float:left;
        margin:5px;
        padding: 7px 15px;
        background:#ccc;
        text-align:center;
        border:solid 1px #000;

        figure{
            margin:0;
            padding:0;
        }
    }
    li:hover{
        background:#bbb;
        cursor:pointer;
    }
    .clear{
      clear:both;
    }

    .cost{
        background:url('../images/gold.png') 10px center no-repeat;
        padding: 0 0 0 18px;
    }

}