$default-bg: white;
$default-text: black;

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: $default-bg;
  color: $default-text;
}

h1 {
  font-size: 2em;
  margin: 0.5em 0 1em;
}
section{
  width: 1110px;
  margin:0 auto;
}
#app{
  width: 1110px;
}
#game {
  display: inline-block;
  width:768px;
  height:576px;
  border:solid 1px #000;
  vertical-align: top;
}
#chat {
    display:none;
    /*display: inline-block;*/
    width:300px;
    height:576px;
    border:solid 1px #000;
    vertical-align: top;

    h2 {
        background:#000;
        color: #fff;
        margin:0;
        padding:10px;
    }

    #content{
        background:#eee;
        height: 476px;
        padding:5px 0;
        overflow:auto;
    }

    #inputchat {
      display:block;
      width:290px;
      background:#fff;
      padding:5px;
      height:30px;
      border-top:solid 1px #000;
      border-left:0;
      border-right:0;
      border-bottom:0;
    }

    p{
        font-size:0.9em;
        margin:5px;
        padding:0 5px;
    }
    span{
        display:block;
    }
    .txt-Rouge{
        color:#E74C3C;
    }
    .txt-Bleu{
        color:#3498DB;
    }
}

#shop{
  display:none;
  width:768px;
  border-right: solid 1px #000;
  border-bottom: solid 1px #000;
  border-left: solid 1px #000;
  height:150px;
  background:#eee;

    ul {
        margin:0;
        padding:5px;
    }

    li {
        display:inline;
        float:left;
        margin:5px;
        padding: 7px 15px;
        background:#777;
        text-align:center;
    }
    li:hover{
        background:#bbb;
    }

}